<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php"
         colors="true" cacheResult="true" cacheDirectory=".phpunit.cache" beStrictAboutCoverageMetadata="true">
    <coverage>
        <report>
            <html outputDirectory="storage/test-coverage"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <!-- Variables de entorno específicas para pruebas -->
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>

        <!--PACT-->
        <env name="PACT_MOCK_SERVER_HOST" value="localhost"/>
        <env name="PACT_MOCK_SERVER_PORT" value="7201"/>
        <env name="PACT_CONSUMER_NAME" value="personConsumer"/>
        <env name="PACT_CONSUMER_VERSION" value="1.0.0"/>
        <env name="PACT_CONSUMER_TAG" value="master"/>
        <env name="PACT_PROVIDER_NAME" value="personProvider"/>
        <env name="PACT_OUTPUT_DIR" value=".\pacts"/>
        <env name="PACT_MOCK_SERVER_HEALTH_CHECK_TIMEOUT" value="10"/>
        <env name="PACT_BROKER_URI" value="http://localhost:9292"/>
    </php>
    <logging>
        <!-- Genera cobertura en HTML en 'storage/test-coverage' -->
        <!-- Opcional: Muestra cobertura directamente en la consola -->
    </logging>
    <source>
        <include>
            <directory suffix=".php">app</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <file>app/Shared/Entity.php</file>
            <file>app/Shared/DomainEvent.php</file>
            <file>app/Shared/ValueObject.php</file>
            <file>app/Shared/BusinessRuleValidationException.php</file>
            <directory>app/Domain/Entities</directory>
            <directory>app/Domain/Events</directory>
            <directory>app/Domain/Aggregates</directory>
            <directory>app/Domain/ValueObjects</directory>
            <directory>app/Application/EventHandlers</directory>
            <directory>app/Application/UseCases/Patient</directory>
            <directory>app/Infrastructure/Persistence</directory>
            <directory>app/Infrastructure/Providers</directory>
            <directory>app/Infrastructure/Repositories</directory>
            <directory>tests</directory>
            <file>app/HttpClientService.php</file>
        </exclude>
    </source>
</phpunit>
